mat-form-field{

  max-width: 500px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;

  button, a {
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 5px;
  }
}

#formZoneBtn{
  display: flex;
}

#btnAttachFile{
  width: 50px;
}

