<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  
   
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" [routerLinkActive]="'active'"  [routerLink]="['accueil']"><mat-icon
  aria-hidden="false"
  aria-label="Example home icon"
  fontIcon="home"
></mat-icon></a>
        </li>
        <li class="nav-item" *ngIf="utilisateurConnecte == null">
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['connexion']">Connexion</a>
        </li>
        <li class="nav-item" *ngIf="utilisateurConnecte!= null">
          <button class="btn btn-link" style="cursor: pointer;" (click)="onDeconnexion()">Deconnexion</button>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-sm-2"
          type="search"
          placeholder="Search"
        />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
    
  </div>
</nav>

<router-outlet></router-outlet>
